# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Archivos de entorno
.env

# Archivos de distribución
build/
dist/
*.egg-info/
.eggs/

# Archivos de instalación
pip-log.txt
pip-delete-this-directory.txt

# Cobertura y testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de IDE
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp